/* LandingPage.css */

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .landing-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .landing-page p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    align-items: center; /* Align buttons vertically center */
  }
  
  .button-container button {
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px; /* Add horizontal margin between buttons */
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  
  
  